
body {
    margin: 0px;
}

div.content {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: midnightblue;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;

}


div.content p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h1.center {
    size: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.realclock {
    margin: 0px;
    margin-bottom: 10px;
    position: absolute;
    top: 75%;
    left: 80%;
}

h1.realtime {
    margin: 0px;
    margin-bottom: 10px;
    position: absolute;
    top: 80%;
    left: 80%;
}